html {
    height: 100%;
}

body {
    background-color: rgb(69, 196, 196);
    margin: 0;
    height: 100%;
}

.grid {
    display: grid;
    width: 100%; 
    height: 100%;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 5px;
    justify-content: center;
    align-content: space-evenly;
}

.red {
    background-color: rgb(247, 72, 72);
}

