body {
    background-color: #eee;
}

ul {
    list-style-type: none;
    background-color: #fff;
    border: solid  1px pink;
    border-radius: 4px;
    padding-left: 0px;
}

li {
    border-bottom: solid 1px pink;
    padding: 15px;
}