body {
    background-color: #eee;
}

a {
    color: hotpink;
    background-color: #aaa;
    border: solid 1px #aaa;
    padding: 10px;
    margin: 15px;
    border-radius: 40px;
}

a:link {
    color: pink;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
    background-color: aquamarine;
}

a:visited {
    color: hotpink;
}

